nav(class="navbar-wrapper navbar-default navbar-static-top" role="navigation")
	.container
		.navbar-header
			a.navbar-brand(href="/") LetsMeet

.container
	.hero-unit
		.container
			.col-xs-8.text-left
				br
				br
				br
				h1 LetsMeet
				h3 The simplest way to make real connections. 
				p.text-center
					a.btn.btn-primary.btn-large(href="/") Get the App
			.col-xs-4.text-left
				img.img(height=320, width=319, src="http://www.droidcrave.com/wp-content/uploads/2013/11/Nexus-5-Press-Image-005-1280x874.jpg")
	hr
	#footer.footer
		p Company 2013