!!!
html
head
	title= "LetsMeet"
	link(rel='stylesheet', href='/stylesheets/main.css')
	link(rel='stylesheet', href='/stylesheets/animate-custom.css')
	link(rel='stylesheet', href='/stylesheets/icomoon.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	link(rel='text/javascript', href='/javascripts/bootstrap.min.js')
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body!= body